.forum {

    .forum-header {
        overflow: auto;
        padding: 30px 0;

        h1.title {
            font-size: 42px;
            font-weight: bold;
            color: #404852;
        }

        input[type="text"] {
            width: 600px;
            height: 40px;
            border: 1px solid #D8D8D8;
            border-right: none;
            padding: 0 5px;
            margin: 0;
            @include border-radius(5px 0 0 5px);
        }

        button {
            background-color: #2c3e50;
            color: #fff;
            font-weight: bold;
            height: 40px;
            border: 2px solid #2c3e50;
            padding: 0 20px;
            margin: 0 0 0 -5px;
            @include border-radius(0 5px 5px 0);
            @include transition(background-color 0.1s ease-in-out);

            &:hover {
                background-color: #fff;
                border: 2px solid #2c3e50;
                cursor: pointer;
                color: #2c3e50;

                .fa {
                    color: #2c3e50;
                }
            }

            .fa {
                color: #fff;
            }
        }
    }

    .forum-content {
        height: 500px;
        background-color: #F9F9F9;
        border-top: 1px solid #E5E5E5;
        border-bottom: 3px solid #ECECEC;

        h2.forum-category-title {
            color: #2a2f35;
            font-weight: bold;
            font-size: 18px;
            margin: 20px 0 10px 0;
        }

        .forum-categories {
            overflow: auto;

            .forum-category {
                width: 153px;
                height: 153px;
                float: left;
                background-color: #fff;
                position: relative;
                text-align: center;
                margin: 15px;
                @include border-radius(3px);
                @include box-shadow(rgba(185,185,185,0.5) 0 1px 4px 1px);
            }
        }
    }
}
